.lightMode{
    background: white;
    color: rgba(0, 0, 0, 1);
    border-color: black;
}

.darkMode{
    background: black;
    color: rgba(255, 255, 255, 1);
    border-color:white;
}

/* ---------------------------------- COLORS ---------------------------------- */

.background__transparent {
    background: transparent;
}

.turbulence{
    position: absolute;
    z-index: -100;
    top: 10%;
    bottom: 72%;
    left: 0;
    right: 0;
}

.overlay {
    /* ... */
    background: linear-gradient(transparent, rgb(187, 208, 201, 0.2), transparent);
    mix-blend-mode: multiply;
}
