
{/* GRID SYSTEM
 H: horizontal (rows)
 V: vertical (columns)
 */}

.container {
    padding: 20px;
}


.grid-autoFill{
    display: grid;
    grid-auto-columns: 50px;
}

.grid--even{
    display: grid;
    grid-template-rows: auto;
}

.grid--1_8_1 {
    display:grid;
    grid-template-columns: 10% 80% 10%;
}

.grid--1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid--2_1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid--3_1{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.grid--2_6_2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.grid--6_1_3 {
    display: grid;
    grid-template-columns: 60% 10% 30%;
}

.grid--3_4_3 {
    display:grid;
    grid-template-columns: 30% 40% 30%;
}

.grid--7_1_2 {
    display: grid;
    grid-template-columns: 70% 10% 20%;
}

.grid--4_2_4 {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.grid--2_2_4_2 {
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
}

.grid--97_3 {
    display: grid;
    grid-template-columns: 96.67% 3.33%
}

.grid--8_2 {
    display: grid;
    grid-template-columns: 80% 20%;
}

.grid--7_3 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.grid--3_7 {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid--75_25 {
    display: grid;
    grid-template-columns: 75% 25%;
}

.gridH--even_2{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
}

.gridH--even_3{
    display:grid;
    grid-template-rows: repeat(3, 20vh);
}

.gridH--1-2-6-1{
    display: grid;
    border: lightpink solid 1px;
    grid-template-rows: 1fr 2fr 6fr 1fr;
}

.grid--even_2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid--even_3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (min-width: 1224px) {
    .grid--even_3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}  @media (max-width: 1224px) {
    .grid--even_3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-flow: dense;
    }
}

.grid--even_4{
    display:grid;
    grid-template-columns: repeat(4, 25%);
}

.grid--even_5{
    display:grid;
    grid-template-columns: repeat(5, 20%);
}

.gridH--even_5 {
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
}

.grid--even_6 {
    display: grid;
    grid-template-columns: repeat(6, 16%);
}

.grid--even_8 {
    display:grid;
    grid-template-columns: repeat(8, 12%);
}

.grid--even_10 {
    display:grid;
    grid-template-columns: repeat(10, 10%);
}

.grid--even_20 {
    display:grid;
    grid-template-columns: repeat(20, 5%);
}

.gridH--6_4 {
    display: grid;
    grid-template-rows: 60% 40%;
}

.gridH--1_5_4{
    display: grid;
    grid-template-rows: 10% 50% 40%;
}

.gridH--1_3_6{
    display:grid;
    grid-template-rows: 10% 30% 60%;
}

@media (max-width: 1224px) {
    .grid-home-main-open{
        display: grid;
        grid-template-rows: 10% 28% 2% 60%;
        -webkit-animation: animategrid ease-in 0.4s;
        -moz-animation: animategrid ease 2s;
    }
}

@media (min-width: 1224px) {
    .grid-home-main-open{
        display: grid;
        grid-template-rows: 10% 48% 2% 40%;
    }
}

.grid-home-main-closed{
    display:grid;
    grid-template-rows: 10% 87% 2% 1%;
}

@-webkit-keyframes  animategrid {
    from{grid-template-rows: 10% 28% 2% 60%}
    to {grid-template-rows: 10% 88% 2%}
}

@-moz-keyframes animategrid {
    from{grid-template-rows: 10% 28% 2% 60%}
    to {grid-template-rows: 10% 88% 2%}
}


.HomeProjectGrid{
    overflow-x: hidden;
    container-type: inline-size;
    overflow-wrap: break-word;
}

.homeProjectGrid > p {
    font-size: 19cqi;
}

.HomeProjectGridContainer{
    top: -100%;
    transition: top 0.4s;
}
