@charset "UTF-8";

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    cursor: cell;
    scroll-behavior: smooth;
    orientation: landscape;
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 740px) {
    html, body {
        overflow: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

* {
    padding: 0;
    margin: 0;
    background-blend-mode: color-burn;
}

img {
    max-width: 100%;
}

.button-dropdown{
    position: absolute;
    right: 10vw;
}

.full-page{
    height: 100vh;
    width: 100vw;
}

.fill {
    height: 100%;
    width: 100%;
}

.inline-block{
    display: inline-block;
}

.absolute{
    position:absolute;
}

.relative{
    position: relative;
}

.left-0{
    left:0;
}

.right-0{
    right:0;
}


.centerBox{
    display: flex;
    justify-content: center;
}




/* ---------------------------------- LAYOUT ---------------------------------- */

/* ------- graphic elements ---------*/

.border-dots{
    border-bottom: white solid 3px;
}

.borderLine-top{
    border-top: 1px solid
}

.borderLine-left{
    margin-left: 30px;
    border-left: 1px dotted;
}


.lineH_dash {
    border-bottom: white dotted 1.5px;
    height: 13px;
}

/* ---------------------------------- NAV + HEADER  ---------------------------------- */

.nav--header {
    color: black;
    transition: color 300ms ease-in-out;
    text-align: center;
}

.nav--header:hover {
    color: #afc6ae
 }

.black {
    background:black;
}

.box-title {
    padding: 10px;
}


.fade {
    background: linear-gradient(transparent, black);
    height: 100%;
    z-index: 30000000;
    width: 33.333vw;
    bottom: 0;
    top: 0;
    position: absolute;
}

.fade-in{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-out{
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.black-box{
    background:black;
    height: fit-content;
}

.white-box{
    background:white;
    height: 20vh;
    margin: 20vh;
    padding: 10vh;
}



.box{
    width: 500px;
    font-size: 18px;
} @media (max-width: 1224px) {
    .box {
        width: 90%;
        padding: 5%;
        font-size: 30px;
        text-align: justify;
    }
}

.box-text{
    height: 30vw;
    font-size: 20px;
    padding: 40px;
}

.border-white{
    border: white solid 3px;
    /* border-color: rgba(255,255,255,var(--tw-border-opacity)); */
}


.modal {
    border-left: dotted black;
}

.title-box{
    margin-top: 4px;
    height: 6vh;
}

.title-box__top{
    display:grid;
    grid-template-columns: auto;
}

.title-box__title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}


.glossText{
    transform: rotate(90deg);
}

.searchbox{
    height: 33%;
    width: 10vw;
}

.studio_box {
    height: 100px;
    color: black;
    border: white solid 2px;
}


.modelTitle{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.langButton {
    height: 20px;

}
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 36px;
    top: 36px;
    background-color: blue;
}

.overlay {
    right:0;
    left:0;
    bottom:0;
    top:0;
}

input{
    -webkit-appearance: none;
    font-family: Equateur, sans-serif;
    background: dimgray;
    height: 1px;
    border-radius: 20px;
    width: fit-content;
}

.dotLine {
    border: dotted 4px black;
    margin-right: 10px;
}

.hamburgerMenu{
    position: absolute;
    z-index: 19999999999;
    left:0;
    right: 0;
    height: 40vh;
    width: 100vw;
}

.firstBar {
    transition: all 0.35s linear;
    transform-origin: 0 50%;
    transform: rotate(45deg);
}

.secondBar {
    transition: all 0.35s linear;
    transform-origin: 0 50%;
    transform: rotate(-45deg);
}




/* ANIMATIONSSS */

.button-lang{
    border: 2px solid black;
    border-left: none;
    text-align: center;
    color: black;
    font-size: 20px;
    padding-top: 16px;
}

.rowScrollMain{
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.scroll-container {
    -moz-box-pack: center;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
} @media (max-width: 1224px) {
    .scroll-container{
        font-size: 30px;
    }
}


.scroll-text {
    text-align: right;
    white-space: nowrap;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;;
    text-decoration: none;


    line-height: 0;

    /*animation props*/
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 35s linear infinite;
    -webkit-animation: my-animation 35s linear infinite;
    animation: my-animation 35s linear infinite;
}

.scroll-div{
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(100%);

    -moz-animation: scroll-down 35s linear infinite;
    -webkit-animation: scroll-down 35s linear infinite;
    animation: scroll-down 35s linear infinite;
}

.text-white-home {
    margin: 10px;
    padding: 20px;
    color: white;
    font-size: 50px;
}


.text-white{
    color: white;
}



.container_color_interface {
    display:grid;
    width: 70vw;
    margin-top: 5px;
    grid-template-columns: repeat(3, 18vw);
    column-gap: 10px;
}

.infoBoxLeft{
    border: 4px dashed black;
    margin-right: 3px;
    margin-left: 70px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 200px;
    width: 25%;
    height: 90vh;
    border-bottom: none;
    border-top: none;
    overflow-y:auto;
}

.imageHex {
    height: 10vh;
    width: 25%;
    border: 4px solid palevioletred;
}

.ObjectViewer img{
    max-height: 50vh;
    max-width: 100%;
}

.__img{
    border: none;
    width: 18vw;
    height: 30vh;
    object-fit: contain;
}


.caption {
    padding: 10px 10px;
    font-size: 15px;
}

.img__large{
    width:100%;
    height: 75vh;
    object-fit: contain;
    opacity: 1;
}

.border-box{
    border: black 2px solid
}

.img__fit{
    max-height: 40vh;
}

.img__fit__full-width{
    width: 90vw;
}

.centered {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hexBox{
    width: 20vw;
    height: 5vw;
}

.hexCube{
    padding-bottom: 4px;
    padding-top: 4px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 10vh);
}

.hexCube__single {
    margin: 2px;
}

.hexCubeNames{
    display: grid;
    font-size: 10px;
    grid-template-columns: repeat(4, 18%);
    grid-template-rows: repeat(2, 2vh);
}

.accordion-container{
    height: 100vh;
}

.accordion-container__imgFrame{
    height: 100vh;
    width: 60vw;
}

.accordion-container-left{
    width: 20vw;
}

.colorPickInterface{
    display:grid;
    grid-template-columns: 80% 18%;
    height: 10vh;
    border: solid black 3px;
}

.colorPickerInterfaceLuckyButton{
    border: solid #0066FF 3px;
    background-color: white;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

.colorPickerInterfaceList{
    display:grid;
    grid-template-columns: repeat(10, 10%);
}

.colorPickerInterfaceColorSQ{
    border: solid #0066FF 3px;
    text-align: center;
}


.bruises__box{
    position: fixed;
    cursor: grab;
    top: 20vh;
    left: 80vw;
    width: 300px;
    border: black 2px solid;
    padding: 10px 10px;
}

.bruises__header{
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    margin-bottom: 3.33px;
    padding: 3.33px 3.33px;
}

.bruises__text{
    border-top: black solid 2px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notDraggable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.img {
    background-blend-mode: hard-light;
}


.border_box {
    border: 2px solid;
}

.padding-10 {
    padding: 10px;
}


.paragraph{
    padding: 10px;
}

.graphicArchiveBox{
    z-index: 100000000;
    margin-top: -100px;
    position: relative;
}

.closed{
    top: +100%
}

.button__ellipse:hover{
    stroke:coral;
}

.border-circle{
    border: solid black 1px;
    border-radius: 100px;
    height: 22px
}

