.full-page{
    height: 100vh;
    width: 100vw;
}

.buttonType--PRIMARY {
    display: inline-block;
    cursor: pointer;
    font-family: Combine;
    border: black 1.5px solid;
    border-radius: 20px;
    padding: 0.25em 1em;
    font-size: 20px
}

.buttonType--PRIMARY:hover{
    background: black;
    color: white;
}

.searchbar{
    padding-left: 10px;
    background: transparent;
    border: solid black 1px;
    height: 4vh;
    width: 100%;
    border-radius: 20px;
    margin-top: 0.5vh;
    bottom: 0.5vh;
}

.checkbox-wrapper input[type="checkbox"] {
    /*removing default appearance*/
    -webkit-appearance: none;
    appearance: none;
    /*custom design*/
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 0.5em;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    background-color: #f1f1f1;
    vertical-align: middle;
    text-align: center;
}

.checkbox-wrapper input:checked {
    background-color: palegreen;
}

.checkbox-text{
    font-size: 18px;
    text-align: center;
    padding-top: 2px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    text-align: center;
}

.hoverImage{
    opacity: 1
}

.hoverImage:hover {
    opacity: 0.5
}

.hoverImage:hover .overlay {
    opacity: 0.5
}


.imageContainer{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 1em;
}

/* MEDIA DISPLAY */

.imageContainer--attribution{
    position: relative;
    z-index: 100000;
    background: white;
    display: block;
    width: 400px;
    height: auto;
    right: 18px;
    bottom: 20px;
    color: black;
    text-align: left;
    padding: 3.33px;
    left: 1px;
}

.imageContainer--attribution_text{
    font-family: Equateur;
    font-size: 12px;
}

.imageContainer--attribution_link{
    font-family: "Equateur", sans-serif;
    font-size: 12px;
}

.objectViewer--close{
    position: relative;
    text-align: right;
    font-size: 2em;
}

.studioGrid-overlay{
    position: absolute;
    z-index: 1000000;
    height: 38vh;
    margin: 0.2vh;
    width: 23vw;
    background: rgba(175, 198, 174, 0.5);
}

.studioGrid-overlay-text{
    background: rgba(175, 198, 174, 0.7);
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 2em;
    color: black;
}