.buttonType--PRIMARY {
    display: inline-block;
    cursor: pointer;
    font-family: Combine;
    border: black 1.5px solid;
    border-radius: 20px;
    padding: 0.25em 1em;
    font-size: 20px
}

.buttonType--PRIMARY:hover{
    background: black;
    color: white;
}

.searchbar{
    padding-left: 10px;
    background: transparent;
    border: solid black 1px;
    height: 4vh;
    width: 100%;
    border-radius: 20px;
    margin-top: 0.5vh;
    bottom: 0.5vh;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    text-align: center;
}

.imageContainer{
    position:relative;
    border: black 2px solid;
}

.hoverImage{
    opacity: 1
}

.hoverImage:hover {
    opacity: 0.5
}

.hoverImage:hover .overlay {
    opacity: 0.5
}