.container__studio--main{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100vw;
    min-height: 96vh;
    overflow: clip;
    padding: 2vh
}

.container__studio--main-left{
    position: relative;
    border-right: black 2px solid;
}

.container__studio--main-right{

}

.container__studio--header{
    position: relative;
    border-bottom: black 2px solid;
    padding: 0em 4em;
    width: 80%;
    height: 10vh;
}

.studio__digital--header-typo{
    position: relative;
    font-family: Combine, Sans-Serif;
    font-size: 2em;
    top: 1em;
}