

/* ---------------------------------- FONTS & TYPE ---------------------------------- */
/* WOFF is cleaner; */

@font-face {
    font-family: "FT88";
    src: local("FT88-Gothique"), url(fonts/FT88-Gothique.woff2);
}

@font-face {
    font-family: "Anthony";
    src: local("Anthony"), url(fonts/Anthony.woff2);
}

@font-face {
    font-family: "Combine";
    src: local("Combine"), url(fonts/Combine.otf);
}

@font-face {
    font-family: "Equateur";
    src: local("Equateur-Regular"), url(fonts/Equateur-Regular.woff2);
}

@font-face {
    font-family: "BackOut";
    src: local("BackOut"), url(fonts/BackOut.woff2);
}

@font-face {
    font-family: "Fungal";
    src: local("FungalVF"), url(fonts/FungalVF.woff);
}

.graphic_archive_01 {
    font-family: "Equateur", sans-serif;
}

.graphic_archive_02 {
    font-family: "FT88";
}


h1.home {
    font-size: 6vh;
    font-family: "Combine", sans-serif;

}

h2 {
    font-family: "Equateur", sans-serif;
    font-size: 20px;
}

.HeaderLink {
    font-family: "Equateur", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.HeaderLinkBig {
    font-size: 6vh;
    font-family: "Combine", sans-serif;
    text-decoration: none;
}

h2.main {
    font-size: 33px;
}

h2.graphic_archive_02{
    font-family: "Combine";
    line-height: 2.4vw;
    animation: none;
}

h2.responsive{
    font-family: "Fungal";
    font-size: 8vw;
    font-weight: bolder;
    color: rgb(242, 245, 220, 0.7);
    mix-blend-mode: difference;
}

h3 {
    font-size: 0.5rem;
    animation: none;
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 8vw;
        line-height: 90%;
    }
    h2 {
        font-size: 6vw;
        line-height: 95%;
    }
}

.about{
    padding: 10px;
    font-size: 18px
}

.about.graphic_archive_02{
    animation: grow 150s ease-in-out infinite;
}

h3.rhizome{
    font-family: "Fungal";
    animation: grow 150s ease-in-out infinite;
}

p.rhizome{
    font-family: "Fungal";
    animation: grow 150s ease-in-out infinite;
}

p.rhizome.fast {
    animation: grow 10s ease-in-out infinite;
}

h1.rhizome.fast {
    font-family: "Fungal";
    animation: grow 10s ease-in-out infinite;
}

@keyframes grow{
    0% {
        font-variation-settings: "THCK" 0, "grow" 0;
    }

    50% {
        font-variation-settings: "THCK" 1000, "grow" 1000;
    }

    100% {
        font-variation-settings: "THCK" 0, "grow" 0;
    }
}

@keyframes grow-lesser {
    0% {
        font-variation-settings: "THCK" 0, "grow" 0;
    }
    50% {
        font-variation-settings: "THCK" 200, "grow" 200;
    }
    100% {
        font-variation-settings: "THCK" 0, "grow" 1000;
    }

}

@keyframes grow-subtle {
    0% {
        font-variation-settings: "THCK" 0, "grow" 0;
    }
    50% {
        font-variation-settings: "THCK" 100, "grow" 1000;
    }
    100% {
        font-variation-settings: "THCK" 0, "grow" 0;
    }

}

.text {
    font-size: 1rem;
    padding: 2px
}

p {
    font-size: 13px;
    font-family: Equateur;
}

a:visited {
    color: black;
    text-decoration: none;
}

font-size--small {
    font-size:13px;
}

font-size--medium {
    font-size: 20px;
}

font-size--large {
    font-size: 36px;
}

font-size--x-large {
    font-size: 42px;
}

text {
    -webkit-appearance: none;
    font-family: "KWBio27-Display", sans-serif;
    font-weight: bold;
    position: relative;
}

.text-center{
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.verticalText{
    writing-mode: vertical-lr;
    position: fixed;
    font-weight: lighter;
}

.main-title{
    font-size: 100px;
    padding-top: 20vh;
    height: 50vh;
    bottom: 40vh;
}

.indexLabel {
    border: transparent solid 2px;
    background: palegreen;
    border-radius: 20px;
    width: 60px;
}

.indexLabel:hover {
    border-radius: 40px;
    width: 70px;
}

.underlined{
    text-decoration: underline;
}

.strike-through{
    text-decoration-line: underline;
    text-underline-offset: -40%;
}

.scrollable{
    overflow: scroll;
    display: grid;
}

.rotateText{
    transform: rotate(90deg);
    position: relative;
    top: 10%;
    text-decoration: underline;
    font-size: 20px;
}


.rotateText:hover{
    transition: color 2s ease-out;
    color: var(--fluo__green)
}

.uppercase{
    text-transform: uppercase;
}

.italic {
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.italic:hover {
    /*-webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -o-transform: skewX(-5deg);
    transform: skewX(-5deg);
    transition: color 1s ease-out;*/
    text-decoration: underline;
}

.lineH{
    border-top: 1px solid;
    z-index: 1000;
}

.lineV{
    border-left: 1px black solid;
}

.LineObjectViewer{
    border-left: 10px solid black;
}

input
{
    font-family: Equateur;
    font-size: 20px;
}
