.glossaryContainer__main{
    position: absolute;
    background: black;
    border-radius: 20px;
    width: 300px;
    right: 40px;
    top: 20px;
}

.glossaryContainer__border_inner {
    margin: 4px;
    border: white solid 2px;
    border-radius: 50px;
}

.glossary__mainTitle{
    color: white;
    padding: 20px;
    font-size: 20px;
}

.glossary__text_main{
    color: white;
    padding: 20px;
}