/* max-width: 1224 = ipad */
/* max-width: 1224 = mobile */

* {
    padding: 0;
    margin: 0;
}

.full-page{
    height: 100vh;
    width: 100vw;
}

.fill {
    height: 100%;
    width: 100%;
}

:root {
    --main__green: #afc6ae;
    --green_ish: #8faa95;
    --fluo__green: #00FF67;
    --triad_pink: #C6AEAF;
    --white_main: #F1F1F1;
    --yellow_ish: #F1F1F1;
    --yellow_bright: #ffe600;
    --happy__bold: "happy-times-NG_bold_master_web";
    --happy__regular: "happy-times-NG_regular_master_web";
    --happy__italic: "happy-times-NG_italic_master_web";
    --main-font: "sligoil-micro";
}

.inline-block{
    display: inline-block;
}

::selection {
    background: var(--main__green)
}

.absolute{
    position:absolute;
}

.relative{
    position: relative;
}

.left-0{
    left:0;
}

.right-0{
    right:0;
}

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-rendering: optimizeLegibility;
    cursor: cell;
    background: linear-gradient(180deg, white 0%,  #fbf2e7 85%);
    scroll-behavior: smooth;
    orientation: landscape;
}

div {
    font-size: 12px;
}

.centerBox{
    display: flex;
    justify-content: center;
}

/* ---------------------------------- FONTS & TYPE ---------------------------------- */


@font-face {
    font-family: "KWBio27-Display";
    src: local("KWBio27-Display"), url(fonts/KWBio27-Display.otf);
}

@font-face {
    font-family: "BackOut";
    src: local("BackOut"), url(fonts/BackOut.woff2);
}

.text {
    font-size: 18px;
    padding: 2px
}

.white {
    color: var(--yellow_ish);
}

.graphic_archive_01 {
    font-family: "KWBio27-Display", sans-serif;
}

.graphic_archive_02 {
    font-family: "BackOut", sans-serif;
}

h1 {
    font-size: 43px;
}

h2 {
    font-size: 17px;
} @media (max-width: 1224px) {
    h2 {
        font-size: 30px;
    }
}

h3 {
    font-size: 15px;
}

.borderLine-top{
    border-top: 1px solid
}

.borderLine-left{
    margin-left: 30px;
    border-left: 1px dotted;
}

.glossBox{
    transform: rotate(-15deg);
    height: 70vh;
    white-space: nowrap;
}
.glossBox:hover{
    transform: rotate(-5deg);
    background: papayawhip;
    transition: transform 0.1s ease-in, transform 1s ease-out;
    transition: background 1s ease-in;
}

.glossTitles{
    font-family: Lineal;
    font-size: 50px;
    transform: rotate(90deg);
    color: var(--yellow_ish);
    padding-left: 50%;
}

.glossDefinitionBox{
            position: relative;
    top: -33vh;
    height: 60vh;
}

.subHeader__text {
    font-size: 40px;
    color: var(--main__green);
    font-family: lineal;
    text-align: left;
} @media (max-width: 1224px) {
    .subHeader__text{
        font-size: 50px;
    }

}

.quote{
    border-left: 3px solid black;
    left: 20%;
    font-size: 20px;
}

a {
    color: var(--main__green);
    cursor: crosshair;
}

.main-title{
    font-size: 100px;
    padding-top: 20vh;
    height: 50vh;
    bottom: 40vh;
}

.underlined{
    text-decoration: underline;
}

.scrollable{
    overflow: scroll;
    display: grid;
}

.refText{
    text-decoration: underline;
    transition: color 300ms;
    color: var(--fluo__green)
}

.refText:hover {
    transform: rotate(45deg);
    transition: color 2s ease-out;
    color: var(--fluo__green)
}

.refText:focus {
    transform: rotate(45deg);
    transition: color 2s ease-out;
    color: var(--fluo__green)
}

.hoverLinkEffect{
    transition: color 150ms ease-out;
}

.rotateText{
    transform: rotate(90deg);
    position: relative;
    top: 10%;
    text-decoration: underline;
    font-size: 20px;
}

.rotateText:hover{
    transition: color 2s ease-out;
    color: var(--fluo__green)
}


.italic {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.italic:hover {
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
    transition: color 2s ease-out;
    /*color: var(--fluo__green)*/
}


.pinkHeader {
    color: var(--main__green);
    line-height: 1px;
}

.line-heighter {
    line-height: 20px;
}

.lineH{
    border-top: 1px solid;
    z-index: 1000;
}

.lineV{
    border-left: 1px black solid;
}

@media (max-width: 1224px) {
    .button__readMore{
        padding: 5%;
        font-size: 30px;
    }
}

/* ---------------------------------- COLORS ---------------------------------- */

.background__transparent {
    background: transparent;
}

.background__black {
    background: black
}

.background__white {
    background: linear-gradient(180deg, #ffffff 0%,  #fbf2e7 85%);
}

.background__cool-to-warm-spectrum {
    background: linear-gradient(135deg,var(--yellow_ish) 0%,white 20%,var(--yellow_ish) 100%);
}

.background__white__green {
    background: linear-gradient(135deg, white 0%, var(--main__green) 100%);
}

.background__transparent__flow {
    backround: transparent;
    background-image: linear-gradient(180deg,var(--yellow_ish) 60%,rgba(255,230,0,0));
}

.background__yellow {
    background: var(--yellow_bright);
}

.background__pink {
    background: var(--triad_pink);
}
.background__pinkLight{
    background: lightgoldenrodyellow;
}

.border-dots{
    border-bottom: white solid 3px;
}

/* ---------------------------------- LAYOUT ---------------------------------- */

/* ------- graphic elements ---------*/

.lineH_dash {
    border-bottom: white dotted 1.5px;
    height: 13px;
}

/* ---------------------------------- ACCORDION ---------------------------------- */

.collapsed {
    color: #007bff;
    background: var(--yellow_ish);
    padding: 15px 15px;
    text-align: center;
}

/* ---------------------------------- NAV + HEADER  ---------------------------------- */

.nav--header {
    color: black;
    transition: color 300ms ease-in-out;
    text-align: center;
}

.nav--header:hover {
    color: #afc6ae
 }

.emptyFrameModel__1 {
    position:relative;
    width: 400px;
    height: 100%;
    left: 30vw;
    border: 3px solid var(--main__green);
}

.black {
    background:black;
}

.box-title {
    padding: 10px;
}

.fade {
    background: linear-gradient(transparent, black);
    height: 100%;
    z-index: 30000000;
    width: 33.333vw;
    bottom: 0;
    top: 0;
    position: absolute;
}

.fade-in{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-out{
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.black-box{
    background:black;
    height: fit-content;
}

.white-box{
    background:white;
    height: 20vh;
    margin: 20vh;
    padding: 10vh;
}



.box{
    width: 500px;
    font-size: 18px;
} @media (max-width: 1224px) {
    .box {
        width: 90%;
        padding: 5%;
        font-size: 30px;
        text-align: justify;
    }
}

.box-text{
    height: 30vw;
    font-size: 20px;
    padding: 40px;
}

.border-white{
    border: white solid 3px;
    /* border-color: rgba(255,255,255,var(--tw-border-opacity)); */
}

.text-center{
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.modal {
    border-left: dotted black;
}

.title-box{
    margin-top: 4px;
    height: 6vh;
}

.title-box__top{
    display:grid;
    grid-template-columns: auto;
}

.title-box__title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.title-box__title:hover{
    transition-duration: 1.5s;
    transition: color 2s ease-out;
    color: var(--fluo__green)
}

.glossText{
    transform: rotate(90deg);
}


.easeBorder__green{
    border: 2px solid var(--main__green);
}

.searchbox{
    height: 33%;
    width: 10vw;
}

.studio_box {
    height: 100px;
    color: black;
    border: white solid 2px;
}


.modelTitle{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.langButton {
    height: 20px;

}

text {
    position: relative;
}

.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 36px;
    top: 36px;
    background-color: blue;
}

button{
    background: transparent;
}

.overlay {
    right:0;
    left:0;
    bottom:0;
    top:0;
}

.dotLine {
    border: dotted 4px black;
    margin-right: 10px;
}

.hamburgerMenu{
    position: absolute;
    z-index: 19999999999;
    left:0;
    right: 0;
    height: 40vh;
    width: 100vw;
}

.firstBar {
    transition: all 0.35s linear;
    transform: rotate(0deg);
    transform-origin: 0% 50%;
    transform: rotate(45deg);
}

.secondBar {
    transition: all 0.35s linear;
    transform: rotate(0deg);
    transform-origin: 0% 50%;
    transform: rotate(-45deg);
}




/* ANIMATIONSSS */

.button-lang{
    border: 2px solid black;
    border-left: none;
    text-align: center;
    color: black;
    font-size: 20px;
    padding-top: 16px;
}

.rowScroll {
    border: 4px none var(--main__green);
    height: 120%;
    overflow-y:auto;
    margin-top: 20px;
}

.rowScrollMain{
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.scroll-container {
    -moz-box-pack: center;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
} @media (max-width: 1224px) {
    .scroll-container{
        font-size: 30px;
    }
}

.scroll-container__blue__pink{
    -moz-box-pack: center;
    background-color: blue;
    border-right: 3px solid black;
    border-left: 3px solid black;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    color: var(--main__green);
}


.scroll-text {
    text-align: right;
    white-space: nowrap;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;;
    text-decoration: none;


    line-height: 0;

    /*animation props*/
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 35s linear infinite;
    -webkit-animation: my-animation 35s linear infinite;
    animation: my-animation 35s linear infinite;
}

.scroll-div{
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(100%);

    -moz-animation: scroll-down 35s linear infinite;
    -webkit-animation: scroll-down 35s linear infinite;
    animation: scroll-down 35s linear infinite;
}

.text-white-home {
    margin: 10px;
    padding: 20px;
    color: white;
    font-size: 50px;
}

.scroll-text-big{
    text-align: right;
    white-space: nowrap;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;;
    text-decoration: none;

    padding-left: 30vw;

    height: 10vh;
    font-size: 100px;

    line-height: 20px;

    /*animation props*/
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 35s linear infinite;
    -webkit-animation: my-animation 35s linear infinite;
    animation: my-animation 35s linear infinite;
}

.text-white{
    color: white;
}

.uppercase{
    text-transform: uppercase;
}

/* FIREFOXY */

@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%);}
}

/* CHROMIE */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(00%);
}
to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
}



@-moz-keyframes scroll-down {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%);}
}

/* CHROMIE */
@-webkit-keyframes scroll-down {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-down {
    from {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(00%);
    }
    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

#left, #right {
    border: 1px solid #aaa;
    float:left;
    height: 100vh;
    width: 48%;
}

#handle {
    background:#000;
    float: left;
    height: 100px;
    width: 1%;
    margin: 1px;
}

.container_color_interface {
    display:grid;
    width: 70vw;
    margin-top: 5px;
    grid-template-columns: repeat(3, 18vw);
    column-gap: 10px;
}

.infoBoxLeft{
    border: 4px dashed black;
    margin-right: 3px;
    margin-left: 70px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 200px;
    width: 25%;
    height: 90vh;
    border-bottom: none;
    border-top: none;
    overflow-y:auto;
}

.imageHex {
    height: 10vh;
    width: 25%;
    border: 4px solid palevioletred;
}


img__bruises{
    object-fit: contain;
    width: 300px;
}

.img__thumbnail {
    width: 18vw;
    height: 20vh;
    object-fit: contain;
}

.__img{
    border: none;
    width: 18vw;
    height: 30vh;
    object-fit: contain;
}

.__img:hover{
    transition-duration: 0.5s;
    border: dotted 1px #00FF67;
}

.caption {
    padding: 10px 10px;
    font-size: 15px;
}

.imageViewer__modal--box {
    display: grid;
}

imageViewer__modal-main {
    position: absolute;
    top: 10vh;
    bottom: 120vh;
    left: 10vw;
    right: 20vw;
}

.imageViewer__modal{
    position: absolute;
    background: linear-gradient(180deg, var(--main__green) 0%,  var(--fluo__green) 100%);

    display: grid;

    height: 75vh;

    top: 10vh;
    bottom: 120vh;
    left: 20vw;
    right: 20vw;

    z-index: 100000;
}

.imageViewer__modal__gallery {
    position: relative;
    background: linear-gradient(180deg, var(--main__green) 0%,  var(--fluo__green) 100%);

    display: grid;
    grid-template-columns: repeat(5, 12vw);

    top: 90vh;
    bottom: 5vh;
    left: 10vw;
    right: 20vw;
    
}

.imageViewer__modal__gallery-image__outer {
    position: absolute;
    display: grid;
    left: -19vw;
}

.imageViewer__modal__gallery-image__inner {
    position: relative;
    background: linear-gradient(180deg, var(--main__green) 0%,  var(--fluo__green) 100%);
    border: solid 2px var(--fluo__green);
    width: 18vw;
    height: 20vh;
    object-fit: contain;
    overflow-y:auto;
}

.imageViewer__modal__title{
    display: inline-block;
    overflow: hidden;
}

.imageViewer__modal__title-inner{
    display: inline-block;
    white-space: nowrap;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    transform:
            translate(0, 100%)
            rotate(90deg)
            translateX(-90px);
    transform-origin: -10px 40px;
}

.imageViewer__modal__title-inner:after {
    content: "";
    float: left;
    margin-top: 100%;
}

.img__large{
    width:100%;
    height: 75vh;
    object-fit: contain;
    opacity: 1;
}

.img__fit{
    max-width:90%;
    height: auto;
}

.hexBox{
    width: 20vw;
    height: 5vw;
}

.hexCube{
    padding-bottom: 4px;
    padding-top: 4px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 10vh);
}

.hexCube__single {
    margin: 2px;
}

.hexCubeNames{
    display: grid;
    font-size: 10px;
    grid-template-columns: repeat(4, 18%);
    grid-template-rows: repeat(2, 2vh);
}

.accordion-container{
    height: 100vh;
}

.accordion-container__imgFrame{
    height: 100vh;
    width: 60vw;
}

.accordion-container-left{
    width: 20vw;
}

.colorPickInterface{
    display:grid;
    grid-template-columns: 80% 18%;
    height: 10vh;
    border: solid black 3px;
}

.colorPickerInterfaceLuckyButton{
    border: solid #0066FF 3px;
    background-color: white;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

.colorPickerInterfaceList{
    display:grid;
    grid-template-columns: repeat(10, 10%);
}

.colorPickerInterfaceColorSQ{
    border: solid #0066FF 3px;
    text-align: center;
}

.textBackground__green{
    color: var(--main__green);
}

.fluoGreen {
    color: var(--fluo__green);
}

.bruises__box{
    position: fixed;
    cursor: grab;
    top: 20vh;
    left: 80vw;
    width: 300px;
    border: black 2px solid;
    padding: 10px 10px;
}

.bruises__header{
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    margin-bottom: 3.33px;
    padding: 3.33px 3.33px;
}

.bruises__text{
    border-top: black solid 2px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notDraggable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.imgBruises {
    width: 300px;
}

{/* GRID SYSTEM
 H: horizontal (rows)
 V: vertical (columns)
 */}

.grid--1_8_1 {
    display:grid;
    grid-template-columns: 10% 80% 10%;
}

.grid--1_2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid--2_6_2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.grid--6_1_3 {
    display: grid;
    grid-template-columns: 60% 10% 30%;
}

.grid--3_4_3 {
    display:grid;
    grid-template-columns: 30% 40% 30%;
}

.grid--7_1_2 {
    display: grid;
    grid-template-columns: 70% 10% 20%;
}

.grid--4_2_4 {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.grid--2_2_4_2 {
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
}

.grid--97_3 {
    display: grid;
    grid-template-columns: 96.67% 3.33%
}

.grid--8_2 {
    display: grid;
    grid-template-columns: 80% 20%;
}

.grid--7_3 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.grid--3_7 {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid--75_25 {
    display: grid;
    grid-template-columns: 75% 25%;
}

.gridH--even_2{
    display:grid;
    grid-template-rows: repeat(2, 30vh);
}

.gridH--even_3{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
}

.gridH--1-2-6-1{
    display: grid;
    border: lightpink solid 1px;
    grid-template-rows: 1fr 2fr 6fr 1fr;
}

.grid--even_2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid--even_3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }

@media (min-width: 1224px) {
    .grid--even_3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}  @media (max-width: 1224px) {
    .grid--even_3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-flow: dense;
    }
}

.grid--even_4{
    display:grid;
    grid-template-columns: repeat(4, 25%);
}

.grid--even_5{
    display:grid;
    grid-template-columns: repeat(5, 20%);
}

.gridH--even_5 {
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
}

.grid--even_6 {
    display: grid;
    grid-template-columns: repeat(6, 16%);
}

.grid--even_8 {
    display:grid;
    grid-template-columns: repeat(8, 12%);
}

.grid--even_10 {
    display:grid;
    grid-template-columns: repeat(10, 10%);
}

.gridH--6_4 {
    display: grid;
    grid-template-rows: 60% 40%;
}

.gridH--1_5_4{
    display: grid;
    grid-template-rows: 10% 50% 40%;
}

.gridH--1_3_6{
    display:grid;
    grid-template-rows: 10% 30% 60%;
}

@media (max-width: 1224px) {
    .grid-home-main-open{
        display: grid;
        grid-template-rows: 10% 28% 2% 60%;
        -webkit-animation: animategrid ease-in 0.4s;
        -moz-animation: animategrid ease 2s;
    }
}

@media (min-width: 1224px) {
    .grid-home-main-open{
        display: grid;
        grid-template-rows: 10% 48% 2% 40%;
    }
}

.grid-home-main-closed{
    display:grid;
    grid-template-rows: 10% 87% 2% 1%;
}

@-webkit-keyframes  animategrid {
    from{grid-template-rows: 10% 28% 2% 60%}
    to {grid-template-rows: 10% 88% 2%}
}

@-moz-keyframes animategrid {
    from{grid-template-rows: 10% 28% 2% 60%}
    to {grid-template-rows: 10% 88% 2%}
}


.border_box {
    border: 2px solid;
}

.padding-10 {
    padding: 10px;
}

.about{
    padding: 10px;
}

.paragraph{
    padding: 10px;
}

.graphicArchiveBox{
    z-index: 100000000;
    margin-top: -100px;
    position: relative;
}

.HomeProjectGridContainer{
    top: -100%;
    transition: top 0.4s;
}

.closed{
    top: +100%
}

.lightMode{
    background: white;
    color: black;
    border-color: black;
}

.darkMode{
    background: black;
    color: white;
    border-color:white;
}

.button__ellipse:hover{
    stroke:coral;
}
