/*modal1*/

.modal1 {
    position: absolute;
    background: papayawhip;
    font-family: "happy-times-NG_regular_master_web", sans-serif;
    border: black solid 3px;
    opacity: 0.9;
    top: 60vh;
    right: 40vw;
    left: 30vw;
    font-size: 15px;
    padding: 4px;
}

.modal1Line {
    position: absolute;
    border-top: black solid 3px;
    top: 60vh;
    right: 60vw;
    left: 20vw;
}

.modal2 {
    position: absolute;
    background: papayawhip;
    font-family: "happy-times-NG_regular_master_web", sans-serif;
    border: black solid 3px;
    opacity: 0.9;
    top: 20vh;
    right: 40vw;
    left: 30vw;
    font-size: 15px;
    padding: 4px;
}

.modal2Line{
    position: absolute;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    top: 20vh;
    right: 40vw;
    left: 20vw;
}

.modal3 {
    position: absolute;
    font-family: "happy-times-NG_regular_master_web", sans-serif;
    border: black solid 3px;
    top: 40vh;
    left: 25vw;
    right: 45vw;
    font-size: 15px;
    padding: 4px;
}

.modal3Line{
    position: absolute;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    top: 40vh;
    right: 45vw;
    left: 20vw;
}

.modal4{
    position: absolute;
    background: papayawhip;
    font-family: "happy-times-NG_regular_master_web", sans-serif;
    border: black solid 3px;
    top: 60vh;
    left: 70vw;
    right: 10vw;
    font-size: 15px;
    padding: 4px;
}

.conicBackdrop{
    background-position-x: 0;
    background-position-y: 0;
    background: rgba(0, 0, 0, 0) conic-gradient(from 10deg, #79aea1 0deg, floralwhite 20deg, rgb(196, 196, 196) 40deg, #FFC0CB 60deg, #79aea1 100deg, floralwhite 120deg, rgb(196, 196, 196) 140deg, #FFC0CB 160deg, rgb(196, 196, 196) 180deg, #FFC0CB 190deg, #79aea1 200deg, floralwhite 220deg, rgb(196, 196, 196) 225deg, #FFC0CB 230deg, #79aea1 240deg, floralwhite 260deg, rgb(196, 196, 196) 280deg, #FFC0CB 300deg, rgb(196, 196, 196) 330deg, #FFC0CB 350deg, #79aea1 360deg) repeat scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    --offset: -63.26536544850499deg;
}