
.svg_container1{
    position: relative;
    z-index: -1;
    opacity: 1;
    animation: fade 10s infinite;
    transform: skewX(29deg) translateX(-39.5%);
    height: 0;
    left: 0;
}

.svg_container2 {
    position: relative;
    z-index: -1;
    opacity: 1;
    animation: fade 7s infinite;
    transform: skewX(30deg) translateX(-40%);
    height: 0;
    left: 0;
}

.svg_container3{
    position: relative;
    z-index: -1;
    opacity: 1;
    transform: skewX(30deg) translateX(-40.5%);
    height: 0;
    left: 0;
}

.svg_container4{
    position: relative;
    z-index: -1;
    opacity: 1;
    animation: fade 9s infinite;
    transform: skewX(29.5deg) translateX(-40%);
    height: 0;
    left: 0;
}

.svg_container5{
    position: relative;
    z-index: -1;
    opacity: 1;
    animation: fade 5s infinite;
    transform: skewX(30deg) translateX(-40.25%);
    height: 0;
    left: 0;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}